a {
  color: #efefef;
  text-decoration: none;
}

.nav__container {
  text-transform: uppercase;
}

.nav__link-container {
  display: flex;
  justify-content: center;
  column-gap: .5rem;
}

.nav__link:hover {
  color: #888;
  transition: all .4s ease;
}

.nav-icon-container .nav-icon {
  margin-right: 4px;
}