.footer {
  min-width: 100%;
  position: fixed;
  bottom: 0;
}
footer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: x-large;
  font-weight: bold;
}

.footer__icono .fab{
  color: white;
}
  